.container {
  display: flex;
  flex-direction: column;
}

.purchaser__selection {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  
}

.provider__selection {
  flex: 1;
}

.mineral__selection {
  display: flex;
  flex-direction: row;
  flex: 3;
  align-items: baseline;
  margin: 10px;
}

.spaceCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed rgb(0, 0, 0);
  border-radius: 0.5rem;
  width: 250px;
  height: 200px;
  margin-left: 5px;
  margin-top: auto;
}

.minerals {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed rgb(0, 0, 0);
  border-radius: 0.5rem;
  width: 500px;
  height: 200px;
}

.colony {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
  }

