@import "./details.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #000000;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
    
    
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0.25rem;
}

#purchase {
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem;
    background-color: rgb(186, 186, 186);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    
}